
   .dashb{
       width:100%;
   }
   .captcha{
    width:100%;
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
    justify-content: center;
 }
 